/*.header{
    padding: 10px; 
    
    align-items: center;
    margin: 30px auto;
}*/
.main-info{


}

.main{
  margin: 10px auto;
  width: 800px;
}
.container {
    
    margin: 10px auto; /* Выравнивание по центру */
    font-size: 18px;
    display: flex;
}
.left_bar{
    margin: 10px; 
    width: 400px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    background: #f0f0f0; /* Цвет фона левой колонки */
    border-bottom: 2px dashed black;
}
.main_bar{

    margin: 10px; 
    width: 500px; /* Ширина слоя */
    padding: 0 10px; /* Отступы вокруг текста */
    
    
}
.foto{
 background-image: url(/assets/123.jpg); 
 background-size: cover;
 width: 200px;
 height: 200px;
 background-position: center;
}
html{
  box-sizing: border-box;
  
  
}
*, *:after, *:before{
  box-sizing: inherit;

}
.skills{
  border-bottom: 2px dashed black;
}
.education{
  border-bottom: 2px dashed black;
}
.work_Experience{
  border-bottom: 2px dashed black;
}
